.weekly-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 280px;
    margin: 0 auto 20px;
    padding-top: 40px;
}

.weekly-title {
    font-size: 20px;
    font-weight: 600;
    color: var(--white);
    text-transform: uppercase;

}

.weekly-description {
    color: var(--orange);
    text-decoration: none;
    transition: opacity 0.3s;
    font-weight: 500;
    font-size: 20px;
}

.weekly-description:hover {
    opacity: 0.7;
}

.weekly-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
    width: 280px;
    margin: 0 auto;
    padding-bottom: 16px;
}

.weekly-card {
    flex: 0 0 280px;
    max-width: 280px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.weekly-card:hover {
    transform: scale(1.03);
    z-index: 3;
    transform: none;
}

.weekly-image {
    width: 100%;
    height: auto;
    aspect-ratio: 2 / 3;
    object-fit: cover;
    display: block;
}

.weekly-card::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.9),
            rgba(0, 0, 0, 0.2));
}

.weekly-info {
    position: absolute;
    bottom: 12px;
    left: 12px;
    right: 12px;
    z-index: 2;
}

.weekly-name {
    font-size: 16px;
    font-weight: 700;
    color: var(--white);
    margin-bottom: 6px;
    text-transform: uppercase;
}

.weekly-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.weekly-text {
    display: block;
    font-size: 12px;
    color: var(--text-dark-muted);
    margin: 0;
    flex: 1 1 auto;
    min-width: 0;
    max-width: 145px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.weekly-rating {
    display: flex;
    align-items: center;
    gap: 2px;
    flex: 0 0 auto;
}

.weekly-star {
    width: 14px;
    height: 14px;
    object-fit: contain;
}

@media screen and (min-width: 768px) {
    .weekly-header {
        width: auto;
        padding-top: 52px;
    }

    .weekly-list {
        width: 100%;
        margin: 0;
        overflow: visible;
        padding: 8px 0;
    }

    .weekly-card {
        flex: 0 0 calc((100% - 40px) / 3);
        max-width: calc((100% - 40px) / 3);
    }

    .weekly-image {
        aspect-ratio: 224 / 325;
    }

}

@media screen and (min-width: 1280px) {

    .weekly-header,
    .weekly-list {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .weekly-card {
        flex: 0 0 calc((100% - 40px) / 3);
        max-width: calc((100% - 40px) / 3);
    }

    .weekly-image {
        aspect-ratio: 395 / 574;
    }

    .weekly-header {
        padding-top: 80px;
    }
}